<!-- Angular 2 D3 Basic Bar Chart Demo -->
<div class="container-fluid rounded">
  <div class="row">
    <img class="img-responsive a2p-logo-img" src="/assets/eyes.png">
    <div>
      <span class="pull-left">The Algorithmist</span>
      <span class="pull-right">Simple D3 Demo</span>
    </div>
  </div>

  <div class="row a2p-content">
    <p class='a2p-h1'>Obligatory D3 Bar Chart</p>

    <div class="a2p-pad-top">
      <bar-graph bind-data="graphData" width="400" height="150" >
    </bar-graph>

  </div>
</div>